.movingDiv {
  width: auto;
  height: auto;
  display: none;
  position: absolute;
  top: var(--pageY);
  left: var(--pageX);
  background: linear-gradient(to bottom, rgba(0,0,0,0.6),rgba(0,0,0,0.1));
  padding: 1px;
  margin: 10px;
  border-radius: 5px;
}
.movingDivmax1000 {
  width: 100px;
  height: auto;
  display: none;
  position: fixed;
  top: 100px;
  left: 20px;
  background: linear-gradient(to bottom, #222 0%, #45484d 100%);
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .4);
}
.movingDivmax1000 div {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}

.LonLat{
  font-size:1.5em;
  text-align: justify;
  padding-top: 4px;
  margin-left: 0px;
  word-break: break-all;
  font-weight: 500;
}

.cityCorner1000 {
  font-size: 1.7em;
  max-width: 80px;
  line-height: 20px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  word-break: break-all;
  overflow: hidden;
}
.hoursWorld {
  font-size:1.7em;
}

.delete {
  text-align: right;
  color: rgba(0,0,0,0.3);
}
