@import './_map';
@import './_recentlist';
@import './_cornerinfo';
@import './_movingdiv';





.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


:root {
  --pageX: 0;
  --pageY: 0;
  --height: 400px;
  --listHeight: 200px;
}
::-webkit-scrollbar {
   width: 7px;
}
::-webkit-scrollbar-track {
   background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-thumb {
   background: rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb:hover {
   background: rgba(255,255,255,0.5);
}

html {
  font-family: fantasy;
  text-align: center;
  font-size:9px;
  background:#2C3E50 ;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size:cover;
  min-height:100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
span {
  font-size: 30px;
  font-weight: 600;
  color: rgba(255,255,255,0.85);
  text-shadow: 1px 1px rgba(255,255,255,0.2);
}
ul li span {
  color: rgba(255,255,255,0.9);
  font-size: 1.7em;
  font-weight: 400;
  line-height: 30px;

}
ul li {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-align: left;
    list-style: none;
    line-height: 35px;
    display: inline-block;

}
ul li input {
  background: rgba(255, 255, 255, 0.2);
  text-transform: inherit;
  color: rgba(255,255,255,0.85);
  border-bottom: 2px solid rgba(0,0,0,0.2);
  height: auto;
  width: 10px;
  font-size: 1em;
  text-align: left;
  font-weight:200;
  padding-right: 0px;

}
.body-container {
  background-repeat:repeat-x;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
  -ms-grid-rows: 110px 9fr 1fr;
      grid-template-rows: 1fr 9fr 1fr;
}
.city {
  position: absolute;
  bottom: 30px;
  left: 31%;
  text-shadow: 1px 1px rgba(255,255,255,0.2);
  font-size: 30px;
  font-weight: 600;
  color: rgba(255,255,255,0.9);
  z-index: auto;
}
.World-names {
  max-width: 200px;
  width: 200px;
  height: 60px;
  top:70%;
  line-height: 20px;
  overflow-x: auto;
  position: absolute;
  left: 10%;
}
.World-city {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.World-countrey {
  font-size:25px;
  font-weight: 600;
  padding-left: 4px;
  text-transform: capitalize;
}
.world-map {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: url("../content/Earthmap.jpg");
  background-size: cover;
  border-radius: 15px;
  height: var(--height);
  margin: 5px;
}
.img {
  margin: 0px;
  padding: 0px;
}
.zoomed {
    display: none;
    grid-row: 1/-1;
    grid-column: 1/-1;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    z-index: auto;
}
.World-clock {
    grid-column: 2/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: none;
}
h2 {
  font-size: 25px;
  font-weight: 600;
  color: rgba(255,255,255,0.85);
  text-shadow: 1px 1px rgba(255,255,255,0.2);
  font-family:'helvetica neue';
}
.icons {
  display: inline;
}
.icon-AllWorld {
  position: relative;
  top:35px;
  margin-top: -40px;
}

.cornerTempF1000 {
     padding-left: 5px;
}
.movingDiv {
  width: auto;
  height: auto;
  display: none;
  position: absolute;
  top: var(--pageY);
  left: var(--pageX);
  background: rgba(0,0,0,0.2);
  padding: 1px;
  margin: 10px;
}
.movingDivmax1000 {
  max-width: 80px;
  height: auto;
  display: none;
  position: fixed;
  top: 110px;
  left: 20px;
  background: rgba(0,0,0,0.2);
  padding: 1px;
}
.movingDivmax1000 div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.LonLat{
  font-size:1.5em;
  text-align: justify;
  padding-top: 4px;
  margin-left: 0px;
}

.cityCorner1000 {
   font-size: 1.7em;
   max-width: 80px;
   line-height: 20px;
   overflow-x: hidden;
   text-rendering: optimizeLegibility;
}

.hoursWorld {
  font-size:1.7em;
  text-align: justify;
}



.delete {
  text-align: right;
  color: rgba(0,0,0,0.3);
}

/*Recent List----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px 10px 10px 10px;
  background: rgba(255,255,255,0.1);
  border:5px solid rgba(255,255,255,0.2);
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: var(--height);
  margin: 5px;
}

.list {
    display: flex;
    flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding:  0px 5% 0px 5%;
  height: var(--listHeight);
  max-height: var(--listHeight);
  line-height: 30px;
}


.textAlighnRight {
  float: right;
  font-size: 1.2;
  padding-top: 10px;
}

h2 {
  text-align: center;
  font-weight: 200;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.hoursWorld {
   font-size: 1.3em;
}
.minutesWorld {
   font-size: 1.3em;
}


@media only screen and (max-width: 2200px) {
  .textAlighnRight {
    display: none;
  }
}


@media only screen and (max-width: 1500px) {

  .textAlighnRight {
    display: none;
  }
  .icon-AllWorld {
      display: none;
  }

}

@media only screen and (max-width: 1000px) {
  .body-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
  }
  .wrapper {
    grid-row: 2/-1;
      -ms-grid-rows: 2/-1;
    grid-column: 1/-1;
      -ms-grid-columns: 1/-1;
  }
  .textAlighnRight {
    display: block;
  }
  .icon-AllWorld {
      display: none;
  }

  .world-map {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 5px;
  }
  .movingDivmax1000 {
    max-width: 80px;
    height: auto;
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  .World-clock {
    display: none;
  }
  .clock {
    display: none;
  }
 span {
   font-size: 2em;
 }
}

@media only screen and (max-width: 700px) {
  .textAlighnRight {
    display: none;
  }
  .icon-AllWorld {
      display: none;
  }

}
